@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #304fff;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4f65dd;
  }
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #304fff transparent;
}

.navbar {
  padding-top: 20px;
  padding-top: env(safe-area-inset-bottom, 2px);
}

.loader {
  height: 90vh;
  position: relative;
}

.loader .cube {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
